/* .item-container{
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../../images/bgimage.png");
    background-size: cover;
}
.details{
    height: 30vh;
    width: 30vw;
    background:white ;
    display: flex;
    border-radius: 1rem;
}
.img-container{
    height: 100%;
    width: 20vw;
    overflow: hidden;display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
.text{
    padding-left:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h3{
    margin: 5px 0 0 0;
} */

.item-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/bgimage.png");
    background-size: cover;
  }
  
  .details {
    height: 30vh;
    width: 30vw;
    background: white;
    display: flex;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); 
    border: 2px solid #dddddd; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .details:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Hover shadow */
  }
  
  .img-container {
    height: 100%;
    width: 20vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem; 
    border-bottom-left-radius: 1rem;
  }
  
  .text {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text h3 {
    margin: 5px 0 0 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
  }
  
  .text p {
    margin: 0.5rem 0;
    color: #666;
    font-size: 1rem;
  }
  

  @media (max-width: 768px) {
    .details {
      width: 80vw;
      height: auto;
      flex-direction: column;
    }
  
    .img-container {
      width: 100%;
      height: 40vh;
    }
  
    .img-container img {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  
    .text {
      padding-left: 0;
      padding-top: 1rem;
      text-align: center;
    }
  }
  